* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: #f6f6f6;
    color: #333;
    padding-bottom: 80px; 
}

/* NAVBAR */
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
}

nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #ffcc80;
}

/* HERO */
.hero {
    height: 100vh;
    background: url('backgroundNav.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero h2 {
    font-size: 35px;
    margin-bottom: 10px;
}
  .hero-img {
      width: 100vw;
      height: 100vh;
      object-fit: cover; 
  }
  

.btn {
    padding: 12px 25px;
    background: #ffcc80;
    color: #3e2723;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 15px;
    transition: 0.3s;
}

.btn:hover {
    background: #ffb74d;
}

/* MENU */
.menu-section {
    padding: 80px 20px;
    text-align: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding-top: 30px;
}

.menu-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: 0.3s;
}

.menu-card:hover {
    transform: scale(1.05);
}

.menu-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.menu-card h3 {
    margin: 10px 0;
}

.price {
    margin-bottom: 15px;
    font-weight: bold;
    color: #795548;
}
/* ORDER  */
.order-section {
    padding: 80px 20px;
    text-align: center;
    background: #efebe9;
}

.order-section form {
    width: 320px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-section select, .order-section input {
    padding: 12px;
    border: 1px solid #999;
    border-radius: 8px;
}
/* ABOUT */
.about-section {
    padding: 80px 20px;
    text-align: center;
    background: #d7ccc8;
}

/* MEMBER */
.member-section {
    padding: 80px 20px;
    text-align: center;
    background: #d7ccc8;
}

.member-benefits {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 30px;
    flex-wrap: wrap;
}

.benefit {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 200px;
}